.contact{
    box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.4);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.contact__title {
    display: flex;
    margin-top: 3em;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.contact__form{
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: stretch;
    row-gap: 1em;
    padding: 1em;
    width: 100%;
    
}
.contact__form-input{
    background-color: rgba(0,0,0,0);
    border: none;
    padding: .5em;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    outline: none;
    color: rgba(255,255,255,0.8);
    margin-bottom: 1em;
    resize: none;
    width: 700px;
}
.contact__button-container{
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    cursor: pointer;
}
.contact__form button{
   
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(0,0,0,0);
    border: none;
}

.contact__form button:hover{
    color: rgba(255,255,255,0.8);
}

.contact__social-icons{
    margin-top: 2em;
}

@media (max-width: 767px) {
    .contact__form-input{
        width: 100%;
    }
}