.header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 1em;
    overflow: hidden;
}
.header__background{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-size: cover;
    transform: translateY(-15%);
    background-position: center;
    z-index: -10;
}

.header::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
.header__intro{
    margin-top: 1em;
    text-align: center;
    font-weight: 700;
    z-index: 2;
}
.header h2{
    font-size: 16px;
    font-weight: 300;
    z-index: 2;
    text-align: center;
    margin-bottom: 2em;
}
.header__button-container{
    display: flex;
    border-radius: 1;
    background-position: center;
    padding: 1em;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
}
.header__button-container i{
    margin-left: .5em;
}
.header__button-container:hover {
   background-color: rgba(255, 255, 255, 0.1);
}
.header__profile-photo{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;
}
.header__profile-photo::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 1;
}
.header__profile-photo img{
    width: 200px;
}