@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Cairo', sans-serif;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0,0);
}
a {
  text-decoration: none;
  font-size: 16px;
}
body{
  background-color: black;
}

section{
  padding: 1em;
}

button{
  cursor: pointer;
}

.section__title{
  text-align: center;
  color: rgba(0, 0, 0,0.7);
  font-weight: 700;
  margin: 1em 0;
}